
{% extends "layout.html" %}

{% block pageTitle %}
  Apply for all the pease pudding
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Pease pudding for everyone
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This prototype is all about pease pudding and how it is great. So great that you can now apply for a pease pudding top-up for your consumption to be limitless.

      </p>

      <p>
        It contains many questions about your pease pudding needs.
      </p>

      <h2 class="govuk-heading-m">About this page</h2>

      <p>All about the pease pudding in a yellow split pea shell.</p>



      <h2 class="govuk-heading-m">Pease pudding top-up</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/start">Apply for a pease pudding top up</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
