{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/pease-pudding-sandwiches">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You are not eligble for a pease pudding top-up.
      </h1>

      <p>You have one pease pudding sandwich a week which is not enough to qualify for a top-up.</p>

      <p>This paragraph has a link to <a href="/url/of/onward/page">find out more about this subject</a>.</p>

    </div>
  </div>

{% endblock %}
